/*
 * 2020-05-14 - CTR - Styles ripped from old MediaWiki site.
 * Cavendish skin: https://www.mediawiki.org/wiki/Skin:Cavendish
 * Skin license: GPLv2
 */

#header h6 a {
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	width: 322px;
	height: 53px;
	margin-top: 10px;
	}
#f-poweredbyico {
	display:none;
}
