<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
<head>
<meta charset="UTF-8"/>
<title>OpenSPIM</title>
<script>document.documentElement.className = document.documentElement.className.replace( /(^|\s)client-nojs(\s|$)/, "$1client-js$2" );</script>
<link rel="stylesheet" href="/css/cavendish.css"/>
<!--[if IE 6]><link rel="stylesheet" href="/css/IE60Fixes.css?2" media="screen"/><![endif]--><!--[if IE 7]><link rel="stylesheet" href="/css/IE70Fixes.css?2" media="screen"/><![endif]--><link rel="stylesheet" href="/css/blue.css?2" media="screen"/><link rel="stylesheet" href="/css/extensions.css?2" media="screen"/><link rel="stylesheet" href="/css/style.css?2" media="screen"/>
<script async="" src="/js/cavendish.js"></script>
<link rel="copyright" href="https://creativecommons.org/licenses/by-sa/3.0/"/>
<script src="/js/cavendish2.js"></script>
</head>
	<div id="header">
		<a name="top" id="contentTop"></a>
		<h6>
			<a href="https://openspim.org" title="OpenSPIM">OpenSPIM</a></h6>
		<div id="p-cactions" class="portlet"><ul>
				<li id="ca-edit"><a href="https://github.com/openspim">Edit Me!</a></li>
		</div>
		<div id="p-search" class="portlet" role="search">
			<h3><label for="searchInput">Search</label></h3>
			<div id="searchBody" class="pBody">
			<form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
				<input name="sitesearch" type="hidden" value="openspim.org">
				<input autocomplete="on" class="form-control search" name="q" placeholder="Search in openspim.org" required="required"  type="text">
				<button class="button" type="submit">Search</button>
			</form>
			</div>
		</div>
	</div>
	<div id="mBody">
		<div id="side">
			<div id="nav">
				<div class="generated-sidebar portlet" id="p-Content" role="navigation">
					<h3>Content</h3>
					<div class='pBody'>
						<ul>
							<li><a href="/index">Home</a></li>
							<li><a href="/News">News</a></li>
							<li><a href="/Table_of_parts">Parts list (L-OpenSPIM)</a></li>
							<li><a href="/Step_by_step_assembly">Assembly (L-OpenSPIM)</a></li>
							<li><a href="/x-openspim_welcome">X-OpenSPIM (Upgrade)</a></li>
							<li><a href="/Operation">Operation</a></li>
							<li><a href="/micro-openspim">µOpenSPIM (Software)</a></li>
							<li><a href="/Setup_Extensions_and_Modifications">Setup Extensions and Modifications</a></li>
							<li><a href="/Gallery">Gallery</a></li>
							<li><a href="/Publications">Publications</a></li>
							<li><a href="Who_has_an_OpenSPIM">Who has an OpenSPIM?</a></li>
							<li><a href="https://forum.image.sc/">Users Forum</a></li>
							<li><a href="/People">People</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!-- end of SIDE div -->
	<div id="column-content">
		<div id="content">
			<a id="top"></a>
			<h1 id="firstHeading" class="firstHeading">{{ title }}</h1>
			<div id="bodyContent">
				<h3 id="siteSub">From OpenSPIM</h3>
				<div id="contentSub"></div>
				<div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>					<!-- start content -->
				<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
					{{ content }}
				</div>
				<div id="catlinks" class="catlinks catlinks-allhidden" data-mw="interface"></div>					<!-- end content -->
			</div>
		</div><!-- end of MAINCONTENT div -->
	</div>
</div><!-- end of MBODY div -->
<div class="visualClear"></div>
<div id="footer">
	<table>
		<tr>
			<td rowspan="2" class="f-iconsection"> </td>
			<td align="center">
				<ul id="f-list">
					<li id="f-copyright">Content is available under <a class="external" rel="nofollow" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share Alike</a> unless otherwise noted.</li>
					<li id="f-privacy"><a href="Privacy_policy">Privacy policy</a></li>
					<li id="f-about"><a href="About"> About OpenSPIM</a></li>
					<li id="f-disclaimer"><a href="General_disclaimer">Disclaimers</a></li>
				</ul></td>
				<td rowspan="2" class="f-iconsection">
					<div id="qrcode">
						<a href="https://goqr.me/" style="border:0 none;cursor:default;text-decoration:none;"><img src="https://api.qrserver.com/v1/create-qr-code/?data=https://openspim.org/{{ permalink }}?pk_campaign=qr-code&#38;size=160x160" height=80 width=80 alt="QR Code generator" title="" /></a>
					</div>
				</td>
		</tr>
		<tr>
			<td><div id="skin-info">
					Mozilla Cavendish Theme based on Cavendish style by Gabriel Wicke modified by <a href="https://www.dasch-tour.de" title="DaSch-Tour Blog" target="_blank">DaSch</a> for the <a href="https://www.wecowi.de/" title="Web Community Wiki">Web Community Wiki</a><br/>
					<a href="https://github.com/DaSchTour/Cavendish" title="github projectpage">github Projectpage</a> &ndash; <a href="https://github.com/DaSchTour/Cavendish/issues" title="Bug reporting at github">Report Bug</a> &ndash; Skin-Version: 2.3.4				</div></td>
		</tr>
	</table>
</div><!-- end of the FOOTER div -->
</div><!-- end of the CONTAINER div -->
</body></html>
